<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="application.css" />
    <title>課題2提出用TOP</title>
  </head>

  <body>
    <!-- header用のdiv -->
    <div class="header"></div>  </body>
</html>



<body>
  
 <div class="main1">
  <h1>ようこそ <strong>Bookers</strong>  へ！</h1>
    <div class="main2">  
     <p><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p>
    </div>
    
    <div class="main3">
     <p>印象を共有し交換することができます</p>
    </div>
    
    <div class="main4">    
     <p><a href="/books">start</a></p>
    </div>
 </div>
</body>

